body {
    text-align: center;
}

.image-container {
    display: inline-block; 
    text-align: center;
    margin: 0 4px;
}

.image-container img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.image-container p {
    margin-top: 2px;
}